/* Page Header */
.pHeader {
    text-align: center;
    font-size: 2.074rem;
    color: #ffffff;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

/* Formatting for the description paragraph */
.pDesc {
    color: #ffffff;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    overflow-wrap: break-word;
    overflow-x: hidden;
}

/* Formatting for the form submission */
form {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

form input,
form textarea {
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: white;
    resize: none;
    width: 50%;
    border: 0;
    margin: 1rem;
    padding: 15px 20px;
    /* outline: auto; */
    text-decoration: none;
    background: #222229;
    border-radius: 10px;
}

form button {
    font-family: 'Manrope', sans-serif;
    font-weight: lighter;
    border-color: transparent;
    font-size: 1.563rem;
    font-weight: 500;
    width: auto;
    border-color: #00b140;
    background-color: #16161b;
    box-shadow: #00b140 0px 1px 8px;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
}